<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}" /> -->
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon" />
    <title>shawt link</title>
  </head>
  <body>
    <div class="container">
      <!-- <div class="card">
        <h2>
          <img src="{{ url_for('static', path='paper-clip.svg') }}" alt="" height="20" />
          shawt link?
        </h2>
        <label class="input">
          <input class="input__field" type="text" placeholder=" " />
          <span class="input__label">website.com?</span>
        </label>
        <div class="button-group">
          <button>Send</button>
          <button type="reset">Reset</button>
        </div>
      </div> -->

      <div class="shawt-box block fixed">
        <div class="shawt-box-row">
          <h2>shawt link?</h2>
        </div>
        <div class="shawt-box-row wrapper block fixed">
          <div class="shawt-box-input">
            <input type="text" name="" id="long-link" />
          </div>
        </div>
        <div class="shawt-box-row">
          <!-- <div class=""> -->
          <button class="showt-box-submit block accent" id="submit">Shawt</button>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
