:root {
  --block-accent-color: #fab700;
}
body {
  font-family: "Inter", sans-serif;
}
h2 {
  font-weight: 900;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
  /* width: 800px; */
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.shawt-box {
  padding: 50px;
  margin-left: 100px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

@media only screen and (max-width: 600px) {
  .shawt-box {
    padding: 25px;
    margin-left: 0;
    width: 100%;
  }
}

.shawt-box-row {
  width: 100%;
}

.shawt-box-row-submit {
  display: flex;
  flex-direction: row-reverse;
}

.shawt-box-input {
  width: 100%;
  height: 50px;
  display: block;
  /* font-size: 2.5rem; */
}

.shawt-link-output {
  display: flex !important;
}

.shawt-link-copy-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 5px !important; */
  padding-right: 8px;
  display: none;
}

.shawt-link-output,
.shawt-link-output > div {
  background-color: #d5fff5 !important;
}

.showt-box-submit {
  color: black;
  padding: 12px 20px;
  height: 50px;
  font-size: 16px;
}

input[type="color"],
input[type="text"],
select {
  width: 100%;
  height: 100%;
  padding: 9px 20px;
  /* margin: 8px 0; */
  font-size: 18px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

input[type="text"]:disabled {
  background: rgba(0, 0, 0, 0);
}

body,
html {
  height: 100%;
  margin: 0;
}
